{% extends "feed/base.html" %}
{% load ratings %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.created_by.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.created_by.username %}">{{ object.created_by }}</a>
        <small class="text-muted">{{ object.date_of_creation|date:"F d, Y" }}</small>
        <small class="text-muted">{{ object.categories }}</small>
        <a class="btn btn-info btn-sm mt-1 mb-1 float-right" href="{% url 'show-bidders' object.id %}">Show Bidders</a>
        <a class="btn btn-info btn-sm mt-1 mb-1 float-right" href="{% url 'show-donators' object.id %}">Show Donators</a>
        {% if object.provider == user and object.status == "Assigned" %}
          <div>
            <a class="btn btn-success mt-1 mb-1 float-right" href="{% url 'post-complete' object.id %}">Complete Service</a>
          </div>
        {% endif %}
        {% if object.created_by == user and object.status == "Need Help"%}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
        {% if object.status == "Need Help" %}
          <div>
            <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'post-bid' object.id %}">Bid</a>
            <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'post-donate' object.id %}">Donate</a>
          </div>
        {% endif %}
      </div>
      <div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">Description: {{ object.content }}</p>
        <p class="article-content">Estimated Budget: {{ object.estimate_budget }}</p>
        <p class="article-content">Estimated Completion Date: {{ object.expected_date_of_completion }}</p>
        <p class="article-content">Address: {{ object.address }}</p>


        <p class="article-map">
        <div class="panel-body">

                    {% load easy_maps_tags %}
                    {% easy_map object.address 400 400 %}


          </div>
        </p>

        <img class="pre-img" src="{{ object.service_pre_Img.url }}">
        {% if object.status == "Need Help" %}
          <p class="article-content text-danger">Status: {{object.status }}</p>
        {% endif %}
        {% if object.status == "Assigned" %}
          <p class="article-content text-warning">Status: {{object.status }}</p>
        {% endif %}
        {% if object.status == "Completed" %}
          <p class="article-content text-success">Status: {{object.status }}</p>
        {% endif %}
      </div>
      {% if object.status == "Completed" %}
      <div>
        <p class="article-content">Complete Info: {{object.complete_info}}</p>
        <img class="account-img" src="{{ object.service_post_Img.url }}">
      </div>
      <div>
        {% if object.created_by == user and object.provider == user %}
        <p class="text-danger"> You Can't Rate. </p>
        <p class="text-danger"> You Can't provide Feedback </p>    
        {% elif object.created_by == user %}
          {% ratings object 20 20 %}
          <div>
            <a class="btn btn-success mt-1 mb-1 float-right" href="{% url 'post-feedback' object.id %}">Provide Feedback</a>
          </div>
        {% endif %}
        
    </div>
    <br>
    <div>
        <p class="article-content">Feedback: {{object.feedback}}</p>
    </div>
    {% endif %}
    </div>
  </article>
{% endblock content %}